//Colors
$green: #05c46b;
$red: #ff3838;
$blue: #0097e6;
$dark: #1F1F2B;
$min-dark: #303041;
$light: #e0e0e0;
$white: #fff;
$black: #000;
$dark-green: #10ac84;

$box-shadow: 0 5px 10px rgb(0 0 0 / 50%);

